* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(255, 68, 99);
}

.title-e-text {
    display: block;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
}

p {
    color: white;
    font-size: 1rem;
}

body {
    font-family: 'Fredoka One';font-size: 22px;
    background-color: rgb(105, 125, 240);
}

.container {
    width: 80%;
    max-width: 1100px;
    background-color: rgb(173, 120, 120);
    border-radius: 20px;
    margin: 0 auto 5%;
}

.row {
    padding: 10px;
    font-size: 1.3rem;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    width: calc(100% / 3);
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

.card {
    background-color: rgb(5, 5, 34);
    color: white;
    padding-bottom: 5px;
}

.col.middle {
    margin: 0 20px;
}

img {
    max-width: 100%;
}

.card-name {
    display: inline;
}

.card-text {
    margin-bottom: 15px;
}

.card-email {
    font-size: .7rem;
    color: rgb(0, 119, 255);
    
}